/* Genral Styles */

:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
}

h1 {
  margin: 0 0 17px 0 !important;
  font-size: 25px !important;
}

/* End Generals     */

.page {
}

/* Start Sidebar  */

.sdiebar {
  background-color: white;
  height: 300vh;
  width: 250px;
  position: relative;
  box-shadow: 0 0 10px #ddd;
}

.sdiebar > h3 {
  position: relative;
  padding-bottom: 17px;
  margin-bottom: 10px;
}

.sdiebar > h3::before {
  position: absolute;
  content: "";
  width: 80%;
  height: 2px;
  background-color: black;
  bottom: 0;
  left: 16px;
}

.sdiebar > h3::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-color: black;
  bottom: -10px;
  left: 50%;
  border: 5px solid white;
  border-radius: 50%;
  transform: translate(-50%, 0%);
}

.sdiebar ul li {
  border-radius: 5px;
  padding: 10px;
}

.sdiebar ul li:first-child {
  background-color: #f6f6f6;
}

.sdiebar ul li:hover {
  background-color: #f6f6f6;
}

.sdiebar > h3 {
  padding-bottom: 20px;
}

.sdiebar ul li a {
  color: #000000;
}
.sdiebar ul li a span {
  font-size: 15px;
}
.sdiebar ul li a i {
}

@media (max-width: 767px) {
  .sdiebar {
    width: 80px;
  }

  .sdiebar > h3 {
    font-size: 13px;
    padding-bottom: 4px;
  }

  .sdiebar > h3::before {
    display: none;
  }

  .sdiebar > h3::after {
    display: none;
  }

  .sdiebar ul li {
    border-radius: 5px;
  }

  .sdiebar ul li a span {
    display: none;
  }
}

:focus {
  outline: none;
}

/* End Sidebar  */

/* Start Content */

.wrapper {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}

.content {
  background-color: rgb(241, 243, 245);
  width: 100%;
}

.head {
  background-color: white;
  padding: 20px;
  height: 70px;
  align-items: center;
}
.head .search {
  width: 160px;
}
.head .search::before {
  content: "";
}

.head .search input {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  transition: width 0.4s;
}

.head .search input:focus {
  outline: none;
  width: 130%;
}
.head .icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.head .icons .notification {
  position: relative;
}
.head .icons .notification i {
  font-size: 20px;
}

.head .icons .notification::before {
  content: "";
  position: absolute;
  top: -5px;
  right: -4px;
  width: 10px;
  height: 10px;
  background-color: var(--red-color);
  border-radius: 50%;
}

.head .icons img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}
/* End Content */

.main-title {
  font-size: 40px;
  margin: 20px 40px;
  padding-bottom: 8px;
  position: relative;
}

.main-title::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background-color: black;
  height: 3px;
  width: 60px;
}

.main-title::after {
  position: absolute;
  content: "";
  left: 60px;
  bottom: 0;
  background-color: #ffffff;
  height: 3px;
  width: 100px;
}

/* start welcome  */

.wrapper {
  padding: 10px;
}
.welcome {
  background-color: white;
  border-radius: 10px;
  /* margin: 10px; */
  overflow: hidden;
  position: relative;
}
.welcome .intro {
  background-color: rgb(233, 227, 227);
  padding: 20px;
  align-items: flex-start;
  margin-bottom: 40px;
}

.welcome > img {
  width: 60px;
  height: 60px;
  border: 3px solid rgb(212, 208, 208);
  border-radius: 50%;
  position: absolute;
  top: 160px;
  left: 20px;
}

.welcome .body {
  padding: 30px;
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(235, 231, 231);
  border-top: 1px solid rgb(235, 231, 231);
}
.welcome .body > div span:last-child {
  color: #888888;
}

.welcome a {
  display: block;
  padding: 10px 20px;
  color: white;
  background-color: var(--blue-color);
  width: fit-content;
  border-radius: 10px;
  font-size: 14px;
  margin: 0 20px 20px auto;
}

@media (max-width: 767px) {
  .welcome .intro img {
    display: none;
  }

  .welcome > img {
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
  }

  .welcome .body {
    display: block;
    text-align: center;
  }
  .welcome .body > div span {
    display: block;
    margin-bottom: 20px;
  }

  .welcome a {
    display: block;
    padding: 10px 20px;
    color: white;
    background-color: var(--blue-color);
    width: fit-content;
    border-radius: 10px;
    font-size: 14px;
    margin: 0 20px 20px auto;
  }
}

/* End welcome  */

/* start Draft  */

.draft {
  padding: 20px;
  /* margin: 10px; */
}

.draft p {
  color: #888888;
  margin-bottom: 15px;
}

.draft input[type="text"] {
  width: 100%;
  border-radius: 6px;
  border: none;
  border: 1px solid #ddd;
  background-color: #eeeeee;
  margin-bottom: 15px;
  height: 30px;
  padding: 10px;
}

.draft input::placeholder {
  font-size: 15px;
}

.draft textarea {
  background-color: #eeeeee;
  border: none;
  border-radius: 6px;
  width: 100%;
  padding: 10px;
}
.draft textarea::placeholder {
  font-size: 15px;
}
.draft input[type="submit"] {
  display: block;
  padding: 10px 20px;
  color: white;
  background-color: var(--blue-color);
  width: fit-content;
  border-radius: 10px;
  font-size: 14px;
  margin: 10px 0px 5px auto;
  border: none;
}

/*  End Draft  */

/* Start Targets  */
.targets {
  border-radius: 10px;
}

.targets p {
  color: #888;
}

.targets .row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.targets .row .icon {
  width: 100px;
  height: 80px;
  background-color: rgb(0 117 255 / 20%);
}
.targets .row .details {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.targets .row .icon i {
  color: var(--blue-alt-color);
  font-size: 16px;
}

.targets .row .details .progress {
  width: 100%;
  height: 3px;
  background-color: var(--blue-alt-color);
  position: absolute;
}

.targets .row .details .progress::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 20%;
  height: 3px;
  background-color: #f59e0b;
}

.targets .row .details .percetage {
  position: absolute;
  right: 20%;
  background-color: var(--blue-color);
  border-radius: 7px;
  bottom: 10px;
  padding: 4px;
  transform: translateX(50%);
}

.targets .row .details .percetage::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 100%);
  border: 4px solid transparent;
  border-top: 5px solid var(--blue-alt-color);
}

/* End Targets  */

/* start Tickets  */

.tickets {
}

.tickets .boxes {
  display: flex;
  flex-wrap: wrap;
}
.tickets .box {
  border: 1px solid rgb(221, 220, 220);
  border-radius: 15px;
  text-align: center;
  width: calc(50% - 10px);
  margin-right: 10px;
  margin-bottom: 10px;
}
.tickets .box i {
  font-size: 25px;
}
.tickets .box div {
  margin: 10px 0;
  font-size: 25px;
}

@media (max-width: 767px) {
  .tickets .box {
    width: calc(100%);
    margin-right: 0;
  }
}
/* End Tickets  */

/* Start News  */
.news {
}
.news .row {
  display: flex;
  justify-content: space-between;
}

.news img {
  width: 100px;
  height: 60px;
  border-radius: 16px;
}

.news .info div {
  color: #000000;
}
.news .row .btn {
  background-color: #eeeeee;
  padding: 4px 10px;
  font-size: 17px;
}

@media (max-width: 767px) {
  .news h1 {
    text-align: center;
  }
  .news .row {
    flex-direction: column;
    border-bottom: 1px solid rgb(211, 211, 211);
    padding-bottom: 10px;
  }

  .news img {
    margin-bottom: 10px;
  }
  .news .row .info {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .news .row .info {
    margin-bottom: 10px;
  }
}

/* End News  */

/* start Tasks  */

.tasks {
}

.tasks .row {
  border-bottom: 1px solid rgb(196, 194, 194);
  padding-bottom: 20px;
}

.tasks .row:nth-child(4) {
  color: rgb(129, 129, 129);
}

.tasks .row:nth-child(4) p {
  color: rgb(207, 204, 204);
}

/* End Tasks  */

/* Start Seach Items  */
/* End Seach Items  */

/* Start uploads */

.uploads img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

/* End uploads */

/* Start project progress  */

.project-progress {
  position: relative;
}

.project-progress img {
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0.3;
}

.project-progress ul {
  padding-left: 50px;
  position: relative;
}

.project-progress ul li {
  margin-bottom: 35px;
}
.project-progress ul::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 3px;
  background-color: var(--blue-color);
  left: 13px;
  top: 0;
}

.project-progress ul li:last-child::before {
  background-color: white !important ;
}

.project-progress ul .done::before,
.project-progress ul li:last-child::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: var(--blue-color);
  left: 0;
  border-radius: 50%;
  border: 2px solid white;
  outline: 2px solid var(--blue-alt-color);
}

.project-progress .current::before {
  animation: 0.7s change-color infinite linear alternate;
}

@keyframes change-color {
  from {
    background-color: #0075ff;
  }

  to {
    background-color: white;
  }
}

@media (max-width: 767px) {
  .project-progress img {
    display: none;
  }
}
/* End project progress  */

/* Start Reminders  */
.reminders {
}

.reminders .row {
  position: relative;
  padding-left: 40px;
}

.reminders .row::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 100%;
  background-color: var(--blue-color);
  left: 25px;
}

.reminders .row::after {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  background-color: var(--blue-color);
  border-radius: 50%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* End Reminders  */

/* start projects  */

.projects {
}

.projects .table {
  min-width: 1000px;
  background-color: white;
}

.projects .table thead {
  background-color: rgb(202, 198, 198);
}

.table tr td {
  padding: 10px;
}

.table tr td img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.table tr:first-child td:nth-child(5) {
  display: flex;
}

/* End projects  */

/* Start settings  */

.settings-page {
  margin-left: 10px;
  margin-right: 10px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}

.toggle-checkbox {
  appearance: none;
}

.toggle-checkbox:checked + .toggle-switch::before {
  left: 50px;
}
.toggle-checkbox:checked + .toggle-switch {
  background-color: var(--blue-color);
}

.toggle-switch {
  width: 78px;
  height: 32px;
  background-color: rgb(199, 193, 193);
  border-radius: 16px;
  position: relative;
}

.toggle-switch::before {
  content: "";
  position: absolute;
  left: 3px;
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  top: 50%;
  transform: translate(0, -50%);
  transition: 0.3s;
}

/* start site control  */

.site-control textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  border: 1px solid #c4c2c2;
  border-radius: 10px;
  margin-top: 16px;
}

.site-control textarea::placeholder {
  font-size: 14px;
  color: #888;
}

/* End site control  */

.widgets-contol div {
  padding-bottom: 13px;
  font-size: 16px;
}

.widgets-contol label {
  margin-left: 10px;
}
/* Start widgets contol */

/* End settings  */


/* Start Profile Page */
@media (max-width: 767px) {
  .profile-page .overview {
    flex-direction: column;
  }
}
.profile-page .avatar-box {
  width: 300px;
}
@media (min-width: 768px) {
  .profile-page .avatar-box {
    border-right: 1px solid #eee;
  }
}
.profile-page .avatar-box > img {
  width: 120px;
  height: 120px;
}
.profile-page .avatar-box .level {
  height: 6px;
  overflow: hidden;
  margin: auto;
  width: 70%;
}
.profile-page .avatar-box .level span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: var(--blue-color);
  border-radius: 6px;
}
.profile-page .info-box .box {
  flex-wrap: wrap;
  border-bottom: 1px solid #eee;
  transition: 0.3s;
}
.profile-page .info-box .box:hover {
  background-color: #f9f9f9;
}
.profile-page .info-box .box > div {
  min-width: 250px;
  padding: 10px 0 0;
}
.profile-page .info-box h4 {
  font-weight: normal;
}
/* Start Training Code */
.profile-page .info-box .toggle-switch {
  height: 20px;
}
@media (max-width: 767px) {
  .profile-page .info-box .toggle-switch {
    margin: auto;
  }
}
.profile-page .info-box .toggle-switch::before {
  width: 12px;
  height: 12px;
  font-size: 8px;
}
.profile-page .info-box .toggle-checkbox:checked + .toggle-switch::before {
  left: 62px;
}
/* End Training Code */
@media (max-width: 767px) {
  .profile-page .other-data {
    flex-direction: column;
  }
}
.profile-page .skills-card {
  flex-grow: 1;
}
.profile-page .skills-card ul li {
  padding: 15px 0;
}
.profile-page .skills-card ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.profile-page .skills-card ul li span {
  display: inline-flex;
  padding: 4px 10px;
  background-color: #eee;
  border-radius: 6px;
  font-size: 14px;
}
.profile-page .skills-card ul li span:not(:last-child) {
  margin-right: 5px;
}
.profile-page .activities {
  flex-grow: 2;
}
.profile-page .activity:not(:last-of-type) {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.profile-page .activity img {
  width: 64px;
  height: 64px;
  margin-right: 10px;
}
@media (min-width: 768px) {
  .profile-page .activity .date {
    margin-left: auto;
    text-align: right;
  }
}
@media (max-width: 767px) {
  .profile-page .activity {
    flex-direction: column;
  }
  .profile-page .activity img {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .profile-page .activity .date {
    margin-top: 15px;
  }
}
/* End Profile Page */
